@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .terminal {
    @apply border;
    @apply border-black;
    @apply p-1;
  }

  .skill-card {
    @apply p-2;
    @apply border;
    @apply border-black;
    @apply overflow-hidden;
    @apply relative;
  }

  .skill-card > img {
    @apply -rotate-[20deg];
    @apply opacity-50;
    @apply duration-300;
    @apply absolute;
    @apply w-[184px];
    @apply right-0;
    @apply top-[-20px]
  }

  .skill-card > img:hover {
    @apply opacity-100;
    @apply -rotate-[10deg];
  }
}

@font-face {
  font-family: eightbit;
  src: url("/public/eightbit.ttf");
}

body {
  font-size: 16px;
  font-family: eightbit;
  @apply text-lg;
}